/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
._card_1y92f_123 {
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
._card_1y92f_123:hover {
  box-shadow: 0 2px 8px rgba(68, 28, 23, 0.1);
}
._card-name_1y92f_131 {
  color: var(--color-text-dark);
  font-size: var(--font-size-m);
  margin-bottom: var(--spacing-5xs);
}
._card-icon_1y92f_137 {
  flex-shrink: 0;
  color: var(--color-text-base);
  align-content: center;
  text-align: center;
}
._card-header_1y92f_144 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: var(--spacing-xs);
  margin-bottom: var(--spacing-5xs);
}
._card-footer_1y92f_152 {
  display: flex;
}
._info-cell_1y92f_156 + ._info-cell_1y92f_156::before {
  content: "|";
  margin: 0 var(--spacing-4xs);
}
@media screen and (max-width: 991px) {
._card_1y92f_123 {
    flex-wrap: wrap;
}
._info-cell--created_1y92f_165,
  ._info-cell--record-count_1y92f_166,
  ._info-cell--column-count_1y92f_167 {
    display: none;
}
}